<div class="container">
  <h2>Movie Search</h2>
  <form (submit)="searchMovies($event)">
    <div class="form-group mb-3">
      <input
        type="text"
        [(ngModel)]="query"
        placeholder="Search for a movie..."
        class="form-control"
        name="search"
        (keydown.enter)="searchMovies($event)"
      />
    </div>
    <button type="submit" class="btn btn-primary mb-3">Search</button>
  </form>

  <div class="container mt-4">
    <div class="row">
      <div class="col-md-4 mb-4" *ngFor="let movie of movies">
        <div class="card h-100" (click)="openDetail(movie)">
          <img [src]="movie.poster" class="card-img-top" [alt]="movie.title" />
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{ movie.title }}</h5>
            <p class="card-text">{{ movie.year }}</p>
            <p class="card-text">{{ movie.plot }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
